@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Helvetica;
  }
}

body::-webkit-scrollbar {
  width: auto;
}

body::-webkit-scrollbar-track {
  background: #2c2c2c;
}
body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #aaa; /* Slightly lighter gray on hover for better interactivity */
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6; /* Dim the button when disabled */
  pointer-events: none; /* Disable pointer events */
  filter: grayscale(100%); /* Optionally desaturate the button */
}

.zoom-anim {
  animation: zoom_anim 2s infinite forwards;
}

@keyframes zoom_anim {
  0% {
  }
  50% {
    transform: scale(1.02);
  }
  100% {
  }
}
